[submodule "neovim/.local/share/nvim/site/pack/molokai"]
	path = neovim/.local/share/nvim/site/pack/shapeshed/opt/molokai
	url = https://github.com/tomasr/molokai
[submodule "neovim/.local/share/nvim/site/pack/shapeshed/start/vim-sensible"]
	path = neovim/.local/share/nvim/site/pack/shapeshed/start/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule "neovim/.local/share/nvim/site/pack/shapeshed/start/vim-sleuth"]
	path = neovim/.local/share/nvim/site/pack/shapeshed/start/vim-sleuth
	url = https://github.com/tpope/vim-sleuth
[submodule "neovim/.local/share/nvim/site/pack/shapeshed/start/terminus"]
	path = neovim/.local/share/nvim/site/pack/shapeshed/start/terminus
	url = https://github.com/wincent/terminus
[submodule "neovim/.local/share/nvim/site/pack/shapeshed/start/typescript-vim"]
	path = neovim/.local/share/nvim/site/pack/shapeshed/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim
[submodule "neovim/.local/share/nvim/site/pack/shapeshed/start/vim-jsx-pretty"]
	path = neovim/.local/share/nvim/site/pack/shapeshed/start/vim-jsx-pretty
	url = https://github.com/MaxMEllon/vim-jsx-pretty
[submodule "neovim/.local/share/nvim/site/pack/shapeshed/start/zig.vim"]
	path = neovim/.local/share/nvim/site/pack/shapeshed/start/zig.vim
	url = https://github.com/ziglang/zig.vim
[submodule "neovim/.local/share/nvim/site/pack/shapeshed/start/vim-solidity"]
	path = neovim/.local/share/nvim/site/pack/shapeshed/start/vim-solidity
	url = https://github.com/tomlion/vim-solidity
[submodule "neovim/.local/share/nvim/site/pack/shapeshed/start/coc.nvim"]
	path = neovim/.local/share/nvim/site/pack/shapeshed/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim
	branch = release
[submodule "neovim/.local/share/nvim/site/pack/shapeshed/start/tender.vim"]
	path = neovim/.local/share/nvim/site/pack/shapeshed/opt/tender.vim
	url = https://github.com/jacoborus/tender.vim
[submodule "neovim/.local/share/nvim/site/pack/shapeshed/start/vim-airline"]
	path = neovim/.local/share/nvim/site/pack/shapeshed/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "neovim/.local/share/nvim/site/pack/shapeshed/start/vim-airline-themes"]
	path = neovim/.local/share/nvim/site/pack/shapeshed/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "neovim/.local/share/nvim/site/pack/shapeshed/start/ctrlp.vim"]
	path = neovim/.local/share/nvim/site/pack/shapeshed/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "neovim/.local/share/nvim/site/pack/shapeshed/start/vim-colors-xcode"]
	path = neovim/.local/share/nvim/site/pack/shapeshed/opt/vim-colors-xcode
	url = https://github.com/arzg/vim-colors-xcode
[submodule "neovim/.local/share/nvim/site/pack/shapeshed/start/gruvbox"]
	path = neovim/.local/share/nvim/site/pack/shapeshed/opt/gruvbox
	url = https://github.com/morhetz/gruvbox
